{% extends 'shop/base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h1 class="h4 mb-4">
                        Account
                    </h1>

                    <p class="mb-1">
                        <strong>Login email:</strong>
                        {{ user.email }}
                    </p>

                    <p class="mb-0">
                        <strong>Roles:</strong>
                        {{ user.roles|join(', ') }}
                    </p>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="h5 mb-4">
                        Customer details
                    </h2>

                    {{ form_start(form) }}

                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phoneNumber) }}

                    <button class="btn btn-primary">
                        Save details
                    </button>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
