{{ form_start(form) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.isSystem) }}
    </div>

    <div class="col-md-6">
        <label class="form-label">Permissions</label>

        <div class="border rounded p-3" style="max-height: 350px; overflow-y: auto;">
            {{ form_widget(form.permissions) }}
        </div>
    </div>
</div>

<button class="btn btn-primary mt-3">Save</button>

{{ form_end(form) }}
