{{ form_start(form) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phoneNumber) }}
    </div>
</div>

<button class="btn btn-primary mt-3">Save</button>

{{ form_end(form) }}
