{{ form_start(form) }}

<div class="row g-3">

    <div class="col-md-6">
        {{ form_row(form.code) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>

    <div class="col-12">
        {{ form_row(form.description) }}
    </div>

</div>

<div class="mt-4 d-flex justify-content-between">

    <a href="{{ path('app_permission_index') }}" class="btn btn-secondary">
        Cancel
    </a>

    <button class="btn btn-primary">
        Save
    </button>

</div>

{{ form_end(form) }}
